/* Base styles for your application */
$primary-background-color: #ffffff;
$primary-text-color: palevioletred;
$primary-font-family: 'Arial', sans-serif;


/* Style for the main content area */
.main-content {
  transition: margin-left 0.3s; /* Transition effect */
  margin-left: 0; /* Default margin-left value */
  overflow-x: hidden; /* Prevent horizontal overflow */
  color: $primary-text-color; /* Set text color */
  font-family: $primary-font-family; /* Set font family */

}
.block{
  margin-top: 0.2%;
}
/* Style for the overlay backdrop when the drawer is open */
.MuiBackdrop-root {
  z-index: 0;
}

/* Style to push the main content when the drawer is open */
.drawer-open .main-content {
  margin-left: 220px; /* Adjust the value as needed */
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionStatic.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: #b6c5fe;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  border-right: 1px solid rgba(172, 188, 255, 1);
}

.MuiDrawer-paper {
  background-color: #b6c5fe !important;
  border-right: 1px solid #b6c5fe !important;

}
.css-5wly58-MuiDataGrid-root .MuiDataGrid-row.Mui-selected {
  background-color: #b1bef44f  !important;
}
.css-yrdy0g-MuiDataGrid-columnHeaderRow {
  background-color: rgba(216, 181, 245, 0.315) !important;
}
.css-1ps6pg7-MuiPaper-root {
  height: 100% !important;
}
.logoAppBar{
  img {
    width: 210px;
    background: transparent !important;
    position: absolute;
    bottom: 20px; /* Adjust the value to control the logo's vertical position */
    left: 50%; /* Center the logo horizontally */
    transform: translateX(-50%);
    mix-blend-mode: darken;
  }
}
.appBar
{
  background-color: #b6c5fe !important;
  border-right: 1px solid #b6c5fe !important;
  
}
.form{
  margin-top: 5%;
}