.chart-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  margin-top: 15%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}
.chart {
  width: 450px;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

/* Media query for screens with a minimum width of 1200px (tablets) */
@media screen and (max-width: 1200px) {
  .chart-container {
    display:grid;
    width:fit-content;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    margin-left:auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .chart{
    width: 300px;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
}
  
