.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Center vertically on the screen */
    cursor: pointer; /* Προσθέστε ένα δείκτη κέρσορα για να δείξετε ότι το κουμπί είναι κλικάρισμα */
  }

  .generator{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 15%;
    margin-bottom: 15%;
    background-color: #fff;
    border: 2px solid #eaeaea;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0,0,0,.15);
    border-bottom: 2px solid #f0f2f5;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 40px;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .generator {
    display:grid;
    width:fit-content;
    align-items: center;
    height: fit-content;
    margin-left:5%;
    margin-right: 5%;
    margin-top: 40%;
    margin-bottom:15%;
  }
  .button-text {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto; /* Ορίστε το πλάτος σε "auto" για να ταιριάζει με το πλάτος του εικονιδίου */
    height: auto; /* Ορίστε το ύψος σε "auto" για να ταιριάζει με το ύψος του εικονιδίου */
    padding: 0; /* Καταργήστε το padding για να ταιριάζει με το εικονίδιο */
    border: none; /* Καταργήστε το περίγραμμα του κουμπιού */
    border-radius: 0; /* Καταργήστε την ακτίνα των γωνιών για να είναι τετράγωνο */

   
  }
  .icon-button {
    align-items: center;
    justify-content: center;
    width: 50%; /* Set to "auto" to match the icon's width */
    height: 100%; /* Set to "auto" to match the icon's height */
    padding: 0; /* Remove padding to match the icon's size */
    border: none; /* Remove the button border */
  }
  
  
  
}